@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About</title>
<link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />

<div class="container">
	<main class="main-content">
			<h1 class="page-title">ABOUT US</h1>
            
            
      <div class="services-grid">
      <div class="service-card">
      <h2>Mission</h2>
        <div class="divider"></div>
        <p>The ACE Letran Research Center is committed to develop a culture of research through the enhancement of the capability of every member of the 
           institution to become a community of professionals making just decisions in addressing global issues guided by the Dominican charism.</p>
         </div>
      </a>

          <div class="service-card">
           <h2>Vision</h2>
     <div class="divider"></div>
       <p>The Letran Research Center envisions itself in the forefront of scholarly researches in the Philippines recognized by the international academic community.   </p>
         </div>
     </a>
        </div>

        <h1 class="page-title">Organizational Chart</h1>
        <div class="service-card">
            <img src="~/Gallery/Orgchart LRC.png" alt="Originality Check">
        </div>

</div>



