    @{
    ViewData["Title"] = "Downloads";
}
@{
    ViewBag.Title = "Downloads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloads</title>
    <link rel="stylesheet" href="~/css/Downloads.css" asp-append-version="true" />

<div id="downloads-page-content" class="downloads-container">
        <h1>DOWNLOADS</h1>

        <div class="downloads-section">
            <h2>Student Research Forms</h2>
            <ul class="download-list">
                <li class="download-item">
                    <div class="platform">
                    </div>
                    <div class="details">
                        <div class="title-version">
						<div class="title"> No Downloads Available</div>                         
                </li>
            </ul>
        </div>


        <div class="downloads-section">
            <h2>Employee Research Forms</h2>
            <ul class="download-list">
                <li class="download-item">
                    <div class="platform">
                    </div>
                    <div class="details">
                        <div class="title-version">
                        <div class="title">ER101 - Employee Researcher Information Sheet</div>
                        </div>
                        <div class="meta">                       
                            <span class="file-size">File Size: 187 KB</span>
                            <span class="date">Date: 01/04/2025</span>
                        </div>
                    </div>
                    <div class="download-button">
                    <a href="/Downloads/ER101.pdf" class="button">Download</a>
                    </div>
                </li>



                <li class="download-item">
                    <div class="platform">
                    </div>
                    <div class="details">
                        <div class="title-version">
                        <div class="title">ER102 - Employee Research Capsule</div>
                        </div>
                        <div class="meta">
                            <span class="file-size">File Size: 159 KB</span>
                            <span class="date">Date: 10/03/2025</span>
                        </div>
                    </div>
                    <div class="download-button">
                    <a href="/Downloads/ER102.pdf" class="button">Download</a>
                    </div>
                </li>

                  <li class="download-item">
                    <div class="platform">
                    </div>
                    <div class="details">
                        <div class="title-version">
                        <div class="title">ER103 - Employee Research Budget Proposal</div>
                        </div>
                        <div class="meta">
                            <span class="file-size">File Size: 230 KB</span>
                            <span class="date">Date: 10/03/2025</span>
                        </div>
                    </div>
                    <div class="download-button">
                    <a href="/Downloads/ER103.pdf" class="button">Download</a>
                    </div>
                </li>

            <li class="download-item">
                <div class="platform">
                </div>
                <div class="details">
                    <div class="title-version">
                        <div class="title">ER104 - Employee Research Gantt Chart</div>
                    </div>
                    <div class="meta">
                        <span class="file-size">File Size: 184 KB</span>
                        <span class="date">Date: 10/03/2025</span>
                    </div>
                </div>
                <div class="download-button">
                    <a href="/Downloads/ER104.pdf" class="button">Download</a>
                </div>
            </li>

            <li class="download-item">
                <div class="platform">
                </div>
                <div class="details">
                    <div class="title-version">
                        <div class="title">Guide for ER102 Employee Research Capsule</div>
                    </div>
                    <div class="meta">
                        <span class="file-size">File Size: 107 KB</span>
                        <span class="date">Date: 10/03/2025</span>
                    </div>
                </div>
                <div class="download-button">
                    <a href="/Downloads/ER102-Guide.pdf" class="button">Download</a>
                </div>
            </li>

            </ul>
        </div>
    </div>