@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/services.css" rel="stylesheet" />

<div class="services-section">
    <div class="section-header">
        <h5>OUR SERVICES</h5>
        <h1>
            Empowering Research and Innovation<br />
            The <em>Letran's Research and Publication Department</em><br />
            Delivers Premier Academic Services
        </h1>
        <p class="subtext">
            Each service we offer is a testament to our commitment to support scholarly pursuits and elevate the standards of research and publication.
        </p>
    </div>
   
    <div class="services-grid">

        <a href="/ServiceForm/Originality_Check" class="btn-avail">
        <div class="service-card">
            <img src="~/Services/orig_check.png" alt="Originality Check">
            <h2>Originality Checking </h2>
            <div class="divider"></div>
       
        </div></a>

        <a href="/ServiceForm/Instrument_Validation" class="btn-avail">
        <div class="service-card">
            <img src="~/Services/inst_val.png" alt="Instrument Validation">
            <h2>Instrument Validation </h2>
            <div class="divider"></div>
        
        </div></a>

        <a href="/ServiceForm/Language_Editing" class="btn-avail">
        <div class="service-card">
            <img src="~/Services/lang_check.png" alt="Language Check">
            <h2>Language Editing </h2>
            <div class="divider"></div>
          
        </div></a>

        <a href="/ServiceForm/Data_Analysis" class="btn-avail">
        <div class="service-card">
            <img src="~/Services/data_analysis.png" alt="Data Analysis">
            <h2>Data Analysis </h2>
            <div class="divider"></div>
           
        </div></a>


        <!--For modals mga toh kasi di sila need ng forms-->
        <a href="" class="btn-avail">
        <div class="service-card">
            <img src="~/Services/stud_clearance.png" alt="Student Research Clearance">
            <h2>Student Research Clearance </h2>
            <div class="divider"></div>
           
        </div></a>

        <a href="" class="btn-avail">
        <div class="service-card">
            <img src="~/Services/ethics_review.png" alt="Ethics Review">
            <h2>Ethics Review </h2>
            <div class="divider"></div>
            
        </div> </a>  
       
    </div>


</div>

